
  



body{
    padding: 0;
    margin: 0;
    background-color:rgb(208, 215, 215);
    flex-wrap: wrap;
}



header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(133, 134, 139);
  flex-wrap: wrap;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: lighter;
  
  
  
}
h1 {
  color: white;
    background-color: rgb(33, 71, 51);
    padding-left: 60px;
    padding-right: 9px;
   padding-top: 4px;
   padding-bottom: 4px;
   font-size: 40px;
   margin: 0;
    margin-bottom: 8px;
    margin-top: 2px;
  font-weight: lighter;
}

nav {
justify-content: flex-end;
flex-wrap: wrap;
float: right;

}

ul {
  display: flex;
  gap: 1px;
  
}

 ul li {
    color: rgb(33, 71, 51);
    display: inline-block;
    padding-right: 20px;
    font-weight: bolder;
    margin-right: 20px;
    
 }

 li a {
 color: rgb(33, 71, 51);
 
 }

 a {
    text-decoration: none;
    border-bottom: 4px solid;
    box-shadow: inset 0 0 0 0 rgb(33, 71, 51);
    color: rgb(254, 255, 254);
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
 }

 a:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 200px 0 0 0 rgb(33, 71, 51);
 }

 img {
  height: 200px;
  width: 100%;
  
 }

 .mypicture {
  margin-top: -202px;
  display: flex;
  width: 195px;
  height: 195px;
 }

.headerImage h2 {
  color: white;
  float: right;
  position: relative;
  top: -75px;
  right: 50px;
  background-color: rgb(33, 71, 51);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: lighter;
  
 }


 .AboutMeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.mainheaders {
  color: rgb(33, 71, 51);
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  font-weight: lighter;
  padding-left: 95px;
  border-bottom: 0px;
  display: flex;
 
}

.mainheaderscontainer {
  display: flex;
  padding-inline: 6px 20px;
  border-right: 3px solid rgb(33, 71, 51);
  
}

.aboutMeParagraphContainer {
  padding-inline: 20px;
  padding-right: 80px
}

.Workcontainer {
  width: 100%;
  display: flex;
  margin-top: 80px;
  margin-left: 16px;
}

#borderright {
  padding-bottom: 900px;
  
  
} 


.bigimagecard {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
  opacity: 0.7;
  margin-top: -960px;
  border: solid 8px rgb(33, 71, 51);
  margin-right: 35px;
  margin-left: 10px;
}

.imagecontainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 250px;
  opacity: 0.8;
  max-width: 100%;
  
}

.littleimagecard{
  margin-top: -390px;
  padding: 1%;
  width: 45.5%;
  opacity: 0.7;
  display: inline-block;
  
}

.bigimagecard:hover {
  opacity: 1.0;
}

.littleimagecard:hover {
  opacity: 1.0;
}

#littleimage1 {
  margin-top: -200px;
  border: solid 8px rgb(33, 71, 51);
}

#littleimage2 {
  margin-top: -200px;
  border: solid 8px rgb(33, 71, 51);
  margin-left: 15px;
  
} 


#littleimage3 {
  border: solid 8px rgb(33, 71, 51);
  margin-top: 40px;
}

#littleimage4 {
  border: solid 8px rgb(33, 71, 51);
  margin-top: 40px;
  margin-left: 15px;
} 



#pic1 {
  
  object-fit: fill;
  height: 300px;
  
}

.footercontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: -36px;
  margin-bottom: 40px;
}

.footerlinks {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 100px;
  color: rgb(33, 71, 51);
  font-weight: lighter;

}

@media screen and (max-width: 768px) {
  body{
    padding-right: 0px;
    padding-left: 20px;
  }
  h1 {
    width: 100%;
    text-align: center;
  }
  h2 {
    margin-top: 85px;
  }
  .AboutMeContainer {
    flex-direction: column;
    
  }
  .aboutMeParagraphContainer {
    padding-right: 0;
  }
  p {
    text-align: center;
  }
.mypicture {
  width: 150px;
  height: 150px;
}
  .littleimagecard {
    width: 100%;
    margin-top: 0px;
  }
  #littleimage1 {
   
    margin-top: 10px;
    margin-left: 10px;
  
  }
  
  #littleimage2 {
    margin-top: 10px;
    margin-left: 8px;
  }
  
  
  #littleimage3 {
    margin-top: 10px;
    margin-left: 8px;
  }
  
  #littleimage4 {
    margin-top: 10px;
    margin-left: 8px;
  }
  
  .imagecontainer {
    margin-top: -90px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    
  }
  .bigimagecard {
    max-height: 100%;
    width: 100%;
    margin-top: -890px;
    margin-left: 15px;
}
  .mainheaders {
    flex-direction: column;
    border-bottom: 5px solid;
    border-bottom-width: 100%;
    
    
}
  #Work {
    
    flex-direction: column;
    flex-wrap: wrap;
  margin-top: -50px;
  margin-bottom: -100px;
  }
  .mainheaderscontainer {
    flex-direction: column;
    flex-wrap: wrap;
    border-right: 0px;
    text-align: center;
  }
 
  .Workcontainer {
    flex-direction: column;
    width: 100%;
  }
 
  .footercontainer {
    display: flex;
    flex-direction: column;
    width:auto;
  
   
  }
  .footerlinks {
    flex-direction: column;
   margin-top: 10px;
   align-items: center;
  }

nav {
 margin: 0 auto;
}


}

@media screen and (max-width: 980px) {
  body{
    padding-right: 0px;
    padding-left: 20px;
  }
  h1 {
    width: 100%;
    text-align: center;
  }
  h2 {
    margin-top: 85px;
  }
  .AboutMeContainer {
    flex-direction: column;
    
  }
  .aboutMeParagraphContainer {
    padding-right: 0;
  }
  p {
    text-align: center;
  }
  .mypicture {
    width: 150px;
    height: 150px;
  }
  .littleimagecard {
    width: 100%;
    margin-top: 0px;
  }
  #littleimage1 {
   
    margin-top: 10px;
  margin-left: 4px;
  }
  
  #littleimage2 {
    margin-top: 10px;
    margin-left: 4px;
  }
  
  
  #littleimage3 {
    margin-top: 10px;
    margin-left: 4px;
  }
  
  #littleimage4 {
    margin-top: 10px;
    margin-left: 4px;
  }
  
  .imagecontainer {
    margin-top: -90px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    width: 100%;
    
  }
  .bigimagecard {
    max-height: 100%;
    width: 100%;
    margin-top: -890px;
    margin-left: 15px;
}
  .mainheaders {
    flex-direction: column;
    border-bottom: 5px solid;
    border-bottom-width: 100%;
    
    
}
  #Work {
    
    flex-direction: column;
    flex-wrap: wrap;
  margin-top: -50px;
  margin-bottom: -100px;
  }
  .mainheaderscontainer {
    flex-direction: column;
    flex-wrap: wrap;
    border-right: 0px;
    text-align: center;
  }
 
  .Workcontainer {
    flex-direction: column;
    width: 100%;
  }
 
  .footercontainer {
    display: flex;
    flex-direction: column;
    width:auto;
  
   
  }
  .footerlinks {
    flex-direction: column;
   margin-top: 10px;
   align-items: center;
  }

nav {
 margin: 0 auto;
}
}