body{
    padding: 0;
    margin: 0;
}



header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(49,52,61);
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: lighter;
  
  
  
}
h1 {
    background-color: rgb(145,203,205);
    padding-left: 60px;
    padding-right: 9px;
   padding-top: 4px;
   padding-bottom: 4px;
   font-size: 40px;
   margin: 0;
    margin-bottom: 8px;
    margin-top: 2px;
  font-weight: lighter;
}

nav {
justify-content: flex-end;
color: rgb(145,203,205);
display: inline-block;
float: right;




}

ul {
  display: flex;
  gap: 1px;
  
}

 ul li {
    color: rgb(145,203,205);
    display: inline-block;
    padding-right: 20px;
    font-weight: bolder;
    margin-right: 20px;
    
 }

 li a {
 color: rgb(145,203,205);
 
 }

 a {
    text-decoration-thickness: 4px;
    text-decoration: none;
    border-bottom: 4px solid;
    
  
 }

 img {
  height: 200px;
  width: 100%;
  
 }
.headerImage h2 {
  float: right;
  position: relative;
  top: -75px;
  right: 50px;
  background-color: rgb(145,203,205);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: lighter;
  
 }

 
 h3 {
  font-size: 40px;
  display: inline;
  float: left;
  
 }

 article {
  display: inline;
  float: right;
  
 }