body{
    padding: 0;
    margin: 0;
}



header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(49,52,61);
  
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: lighter;
  
  
  
}
h1 {
    background-color: rgb(145,203,205);
    padding-left: 60px;
    padding-right: 9px;
   padding-top: 4px;
   padding-bottom: 4px;
   font-size: 40px;
   margin: 0;
    margin-bottom: 8px;
    margin-top: 2px;
  font-weight: lighter;
}

nav {
justify-content: flex-end;
color: rgb(145,203,205);
display: inline-block;
float: right;




}

ul {
  display: flex;
  gap: 1px;
  
}

 ul li {
    color: rgb(145,203,205);
    display: inline-block;
    padding-right: 20px;
    font-weight: bolder;
    margin-right: 20px;
    
 }

 li a {
 color: rgb(145,203,205);
 
 }

 a {
    text-decoration-thickness: 4px;
    text-decoration: none;
    border-bottom: 4px solid;
    
  
 }

 img {
  height: 200px;
  width: 100%;
  
 }
.headerImage h2 {
  float: right;
  position: relative;
  top: -75px;
  right: 50px;
  background-color: rgb(145,203,205);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: lighter;
  
 }


 .AboutMeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mainheaders {
  color: rgb(101, 118, 143);
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  font-weight: lighter;
  padding-left: 95px;
 
}

.mainheaderscontainer {
  display: flex;
  padding-inline: 6px 20px;
  border-right: 3px solid rgb(101, 118, 143);
  
}

.aboutMeParagraphContainer {
  padding-inline: 20px;
  padding-right: 80px
}

.Workcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 16px;
}

#mainworkcontainer {
  padding-bottom: 400px;
  justify-content: space-between;
  
} 

.workImages {
  justify-content: space-between;
  object-fit: fill;
}

.bigimagecard, #bigimage {
  display: flex;
  position: relative;
  margin: 2rem;
  width: 70%;
  height: 300px;
  opacity: 0.8;
  margin-top: -540px;
  margin-left: 250px;
  border: solid rgb(145,203,205);
  
  
}

.imagecontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 245px;
  margin-top: -30px;
}

.littleimagecard{
  margin: 5px;
  width: 44%;
  opacity: 0.8;
  border: solid rgb(145,203,205);
  height: 150px;
  background-size: cover;
  background-position: right 55% bottom 68% !important;
  
}


#bigimage:hover {
  opacity: 1.0;
}

#littleimage:hover {
  opacity: 1.0;
}
 
#bigimage {
  position: relative;
  display: flex;
  object-fit: fill;
}

#littleimage1 {
  background: url("Images/6307AED3-ED25-42C3-A9AA-9482395C37CD_1_105_c.jpeg")
}

#littleimage2 {
  background: url("/Images/00ED63C6-8543-41B8-AAD4-D12E910DF800_1_105_c.jpeg")
}

#littleimage3 {
  background: url(/Images/6C883EF5-71D7-4579-9DD1-1A96E2653E70_1_105_c.jpeg)
}

#littleimage4 {
  background: url(/Images/japanesegate.jpeg)
}

#pic1 {
  
  object-fit: fill;
  height: 300px;
  
}


